@model WebGameMVC.Models.DTO.UpdatePassModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-container">
    <div class="container-bg">
        <div class="login-panel">
            <div class="panel">
                <h1>Cập nhật mật khẩu</h1>
                @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <span>Nhập mật khẩu cũ</span>
                        @Html.PasswordFor(x => x.oldPass, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.oldPass, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <span>Nhập mật khẩu mới</span>
                        @Html.PasswordFor(x => x.newPass1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.newPass1, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <span>Nhập lại mật khẩu mới</span>
                        @Html.PasswordFor(x => x.newPass2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.newPass2, "", new { @class = "text-danger" })
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <button type="submit" style="margin-left:100px" class="btn btn-success">OK</button>
                }
            </div>
        </div>
    </div>
</div>